.container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: rgb(191, 209, 177);
  padding: 30px;
}

.lista{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1.5fr));
  gap: 40px;
}

.lista{
  background-color: #fff;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.4);
}

.lista-content{
  padding: 30px;
}

.objetoOda{
  border-radius: 6%;
  box-shadow: 10px 15px 15px 10px rgba(0.2, 0.4, 0.2, 0.4) ;
  margin: 6px;
  padding: 20px;
  transition: transform 100ms ease-in-out;

}

.objetoOda:hover{
  transform: scale(1.02);
  animation-delay: 200000ms;
  border: solid;
  border-color: red;
} 




